.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}


.group-title {
  padding: 5px 10px;
}

.mb2 {
  margin-bottom: 2rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mr2 {
  margin-right: 2px;
}

.v-window__container {
  height: auto!important;
}

.stock-menu > .v-list__tile {
  height: 20px;
  padding: 20px;
  border-top: 1px solid #ededed;
}

@media only screen and (min-width: 1264px) {
  .fix-extension-toolbar {
    .v-toolbar__extension {
      display: none!important;
    }
  }
}
